@using WebApplication2.Models.Entity
@model List<tbl_ogretmenler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th>Öğretmen ID</th>
        <th>Öğretmen Adı</th>
        <th>Ders</th>
        <th>Başlangıç Tarihi</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <th>@ktgr.ogid</th>
                <th>@ktgr.ogad</th>
                <th>@ktgr.ogbolum</th>
                <th>@ktgr.ogbas</th>
                <td><a href="/Akademi/SIL/@ktgr.ogid" class="btn btn-danger">SİL</a></td>
                <td><a href="/Akademi/Guncelle/@ktgr.ogid" class="btn btn-success">GÜNCELLE</a></td>

            </tr>
        }
    </tbody>
</table>
<a href="/Akademi/Ekle/" class="btn btn-primary">Yeni Öğretmen Ekle</a>
