
@{
    ViewBag.Title = "YenKtegori";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Öğrenci Adı</label>
        <input type="text" class="form-control" name="oadı" />
    </div>
    <div>
        <label>Öğrenci Numarası</label>
        <input type="text" class="form-control" name="ono" />
    </div>
    <div>
        <label>Bölümü</label>
        <input type="text" class="form-control" name="obolum" />
    </div>
    <div>
        <label>Kredi Notu</label>
        <input type="text" class="form-control" name="okredi" />
    </div>
    <div>
        <label>Durum</label>
        <input type="text" class="form-control" name="okredi" />
    </div>
    <div>
        <button type="submit" style="margin:15px" class="btn btn-info">Öğrenci Ekle</button>
    </div>
</form>
