
@{
    ViewBag.Title = "MezunEt";
    Layout = "~/Views/Shared/View.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Öğrencinin kredi notu 2'den az olduğu için mezun olamaz'</th>



    </tr>

</table>
